@model BootCore.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2><i class="fa fa-envelope-square"></i> @ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h4>Enter your email.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-envelope-square"></i>
                        <span> Send Email</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
