@model BootCore.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2><i class="fa fa-arrow-circle-right"></i> @ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
            <h4>Reset your password.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Code" type="hidden" />

           
            @Html.Partial("_UserConfirmPassword")

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-arrow-circle-right"></i>
                        <span> Reset</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

